<mat-dialog-content class="mat-typography">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Agregar datalogger</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="dataloggerForm">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre" type="text" formControlName="nombre">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Modelo" type="text" formControlName="modelo">
            </mat-form-field>
          </div>
        </div>
        <mat-dialog-actions align="center">
          <button mat-raised-button mat-dialog-close class="btn btn-danger">Cancelar</button>
          <button mat-raised-button class="btn btn-primary" [disabled]='!dataloggerForm.valid' [mat-dialog-close]="true" (click)="onSubmit()">Actualizar Datalogger</button>
        </mat-dialog-actions>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</mat-dialog-content>
