table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.fab {
  z-index: 5;
  position: fixed;
  display: flex;
  align-self: flex-end;
  bottom: 10%;
  margin-bottom: 68px;
  }
.card-header {
  font-family: 'Ubuntu', sans-serif;

}
