<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group>
      <mat-tab label="Acelerografos">
        <div class="card">
          <div class="fab">
            <a mat-fab color="primary" style="margin-right : 14px;" (click)="addAcelerografo()">
              <mat-icon>add</mat-icon>
            </a>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Acelerografos</h4>
            <p class="card-category">Lista de Acelerografos</p>
          </div>
          <div class="card-body">
            <div id="typography">
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let acelerografos"> {{acelerografos.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="ubicacion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Ubicación</th>
                  <td mat-cell *matCellDef="let acelerografos"> {{acelerografos.ubicacion}} </td>
                </ng-container>
                <ng-container matColumnDef="sensor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</th>
                  <td mat-cell *matCellDef="let acelerografos"> {{acelerografos.sensor}} </td>
                </ng-container>
                <ng-container matColumnDef="latitud">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitud</th>
                  <td mat-cell *matCellDef="let acelerografos"> {{acelerografos.latitud}} </td>
                </ng-container>
                <ng-container matColumnDef="longitud">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitud</th>
                  <td mat-cell *matCellDef="let acelerografos"> {{acelerografos.longitud}} </td>
                </ng-container>
                <ng-container matColumnDef="altitud">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Altitud</th>
                  <td mat-cell *matCellDef="let acelerografos"> {{acelerografos.altitud}} </td>
                </ng-container>
                <ng-container matColumnDef="activo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
                  <td mat-cell *matCellDef="let acelerografos">
                    <mat-checkbox [(ngModel)]="acelerografos.activo"></mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
                  <td mat-cell *matCellDef="let acelerografos">
                    <button mat-icon-button (click)="openDialog(acelerografos.url)">
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Sensores">
        <div class="card mt-3">
          <div class="fab">
            <a mat-fab color="primary" style="margin-right : 14px;" (click)="addSensor()">
              <mat-icon>add</mat-icon>
            </a>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Sensores</h4>
            <p class="card-category">Lista de Sensores</p>
          </div>
          <div class="card-body">
            <div id="typography">
              <table mat-table [dataSource]="dataSourceSensor" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let sensores"> {{sensores.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="modelo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                  <td mat-cell *matCellDef="let sensores"> {{sensores.modelo}} </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
                  <td mat-cell *matCellDef="let sensores">
                    <button mat-icon-button (click)="openDialogSensor(sensores.url)">
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteSensor(sensores.url)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsSensor"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSensor;"></tr>
              </table>

            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Dataloggers">
        <div class="card">
          <div class="fab">
            <a mat-fab color="primary" style="margin-right : 14px;" (click)="addAcelerografo()">
              <mat-icon>add</mat-icon>
            </a>
          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Dataloggers</h4>
            <p class="card-category">Lista de Dataloggers</p>
          </div>
          <div class="card-body">
            <div id="typography">
              <table mat-table [dataSource]="dataSourceDatalogger" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let dataloggers"> {{dataloggers.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="modelo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                  <td mat-cell *matCellDef="let dataloggers"> {{dataloggers.modelo}} </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
                  <td mat-cell *matCellDef="let dataloggers">
                    <button mat-icon-button (click)="openDialogDatalogger(dataloggers.url)">
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteSensor(dataloggers.url)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDatalogger"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDatalogger;"></tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
