<div class="row" *ngIf="acelerografos">
  <div class="col-md-10">

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
      <agm-marker *ngFor="let acelerografo of acelerografos" [latitude]="acelerografo.latitud" [longitude]="acelerografo.longitud" [iconUrl]="'http://cemos.cismid-uni.org/redacis/img/cismid.png'">
        <agm-info-window>
          <h4 class="text-center">{{acelerografo.nombre}}</h4>
          <p><strong>Ubicación: </strong>{{acelerografo.ubicacion}}</p>
          <p><strong>Altitud: </strong>{{acelerografo.altitud}}</p>
          <p><strong>Latitud: </strong>{{acelerografo.latitud}}</p>
          <p><strong>Longitud: </strong>{{acelerografo.longitud}}</p>
          <button mat-stroked-button color="primary" (click)="registro(acelerografo)">Registros</button>
        </agm-info-window>
      </agm-marker>

    </agm-map>
  </div>
  <div class="col-md-2">
    <img src="./assets/img/utpl_azul.png" alt="Logo UTPL" class="imagen mx-auto">
    <h4>Red Nacional de Acelerógrafos</h4>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Acelerografos" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAcelerografo($event)" [displayWith]="displayFn">
          <mat-option *ngFor="let acelerografo of filteredAcelerografos | async" [value]="acelerografo">
            {{acelerografo.nombre}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="card my-4" *ngIf="isAcelerografo">
      <h5 class="card-header text-center">{{acelerografo.nombre}}</h5>
      <div class="card-body">
        <p><strong>Ubicación: </strong>{{acelerografo.ubicacion}}</p>
        <p><strong>Altitud: </strong>{{acelerografo.altitud}}</p>
        <p><strong>Latitud: </strong>{{acelerografo.latitud}}</p>
        <p><strong>Longitud: </strong>{{acelerografo.longitud}}</p>
        <button mat-stroked-button class="boton" (click)="registro(acelerografo)">Registros</button>
      </div>
    </div>
  </div>
</div>
