<mat-card>
  <h2 class="text-center mb-3">{{acelerografo?.nombre}}</h2>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <h4 class="secondary">Detalles</h4>
        <table class="table table-striped" *ngIf="aceleracion">
          <tbody>
            <tr>
              <th scope="row">Sensor:</th>
              <td>{{sensor?.nombre | titlecase }} {{sensor?.modelo | titlecase }}</td>
            </tr>
            <tr>
              <th scope="row">Fecha:</th>
              <td>{{aceleracion.fecha}}</td>
            </tr>
            <tr>
              <th scope="row">Hora:</th>
              <td>{{aceleracion.hora}}</td>
            </tr>
            <tr>
              <th scope="row">Componente:</th>
              <td>{{aceleracion.componente}}</td>
            </tr>
            <tr>
              <th scope="row">Frecuencia:</th>
              <td>{{aceleracion.frecuencia}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" *ngIf="acelerografo">
          <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'http://cemos.cismid-uni.org/redacis/img/cismid.png'">
            <agm-info-window>
              <h4 class="text-center">{{acelerografo.nombre}}</h4>
              <p><strong>Ubicación: </strong>{{acelerografo.ubicacion}}</p>
              <p><strong>Altitud: </strong>{{acelerografo.altitud}}</p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <canvas *ngIf="chart" id="canvas" #myCanvas class="mt-5"></canvas>

  </mat-card-content>
</mat-card>
